.header::before, .section-cta::before, .section-price::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  /* sticky footer */
  scroll-behavior: smooth;
}

body {
  height: 100%;
  /* sticky footer */
  display: flex;
  /* sticky footer */
  flex-direction: column;
  /* sticky footer */
  font-family: "Montserrat", sans-serif;
  color: #2e2e2e;
}

body > * {
  flex-shrink: 0;
  /* sticky footer */
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
img,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* Grid styles */
.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
@media (max-width: 899px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 599px) {
  .container {
    width: 320px;
  }
}

/* Utility */
.none {
  display: none !important;
}

/* Sticky Footer */
.footer {
  margin-top: auto;
  /* sticky footer */
  /* Just for fun */
  text-align: center;
  background-color: #e2e2e2;
  padding: 50px 0;
}

.header {
  position: relative;
  z-index: 13;
  background-image: url("./../img/bg/header-bg.jpg");
  background-size: cover;
  background-position: center;
  /* Descktop MD */
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1600px) {
  .header {
    background-image: url("./../img/bg/header-bg-1600.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 1199px) {
  .header {
    background-image: url("./../img/bg/header-bg-900.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 899px) {
  .header {
    background-image: url("./../img/bg/header-bg-600.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 599px) {
  .header {
    background-image: url("./../img/bg/header-bg-320.jpg");
    background-size: cover;
    background-position: center;
  }
}

.header__wrapper {
  position: relative;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 100px;
  color: #fff;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .header__wrapper {
    padding-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .header__wrapper {
    padding-top: 20px;
  }
}
@media (max-width: 599px) {
  .header__wrapper {
    padding-bottom: 40px;
  }
}

.header__buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
  width: 1200px;
  padding: 0 15px;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .header__buttons {
    width: 100%;
    margin-bottom: 100px;
  }
}
@media (max-width: 899px) {
  .header__buttons {
    margin-bottom: 30px;
  }
}

.header__buttons-nav-icon {
  flex-shrink: 0;
}

.header__buttons-search {
  margin-left: auto;
}

.header__content {
  text-align: center;
  margin-bottom: 148px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .header__content {
    margin-bottom: 129px;
  }
}
@media (max-width: 899px) {
  .header__content {
    margin-bottom: 80px;
  }
}
@media (max-width: 599px) {
  .header__content {
    margin-bottom: 50px;
  }
}

.header__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .header__title {
    margin-bottom: 35px;
    font-size: 84px;
  }
}
@media (max-width: 899px) {
  .header__title {
    margin-bottom: 30px;
    font-size: 70px;
  }
}

.header__desc {
  margin: 0 auto 70px;
  max-width: 730px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
.header__desc p + p {
  margin-top: 15px;
}
@media (max-width: 1199px) {
  .header__desc {
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 1.2228;
  }
}
@media (max-width: 899px) {
  .header__desc {
    max-width: 430px;
    font-size: 16px;
    line-height: 1.25;
  }
}
@media (max-width: 599px) {
  .header__desc {
    margin-bottom: 30px;
    max-width: 290px;
  }
}

.header__form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 899px) {
  .header__form {
    width: 370px;
    flex-direction: column;
    align-items: stretch;
  }
}
@media (max-width: 599px) {
  .header__form {
    width: 100%;
  }
}

.header__form > *:not(:last-child) {
  margin-right: 20px;
  /* Mobile */
}
@media (max-width: 899px) {
  .header__form > *:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.header__form-input {
  width: 240px;
  /* Mobile */
}
@media (max-width: 899px) {
  .header__form-input {
    width: 100%;
  }
}

.footer {
  padding: 70px 0;
  background-color: #1a1a1a;
  color: #fff;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .footer {
    padding: 60px 0;
  }
}
@media (max-width: 899px) {
  .footer {
    padding: 50px 0;
  }
}
@media (max-width: 599px) {
  .footer {
    padding: 40px 0;
  }
}

.footer__row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .footer__row {
    margin-bottom: 40px;
  }
}
@media (max-width: 899px) {
  .footer__row {
    flex-direction: column;
    margin-bottom: 30px;
  }
}
@media (max-width: 599px) {
  .footer__row {
    margin-bottom: 40px;
  }
}

.footer__nav {
  margin-right: 50px;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 899px) {
  .footer__nav {
    margin-right: 0;
    margin-bottom: 27px;
  }
}
@media (max-width: 599px) {
  .footer__nav {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer__nav-item {
  margin-right: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
  transition: color 0.1s ease-in;
  /* Mobile XS */
}
.footer__nav-item:last-child {
  margin-right: 0;
}
.footer__nav-item:hover {
  color: #15d784;
}
@media (max-width: 599px) {
  .footer__nav-item {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .footer__nav-item:last-child {
    margin-bottom: 0;
  }
}

.footer__social {
  display: flex;
}

.footer__social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(196, 196, 196, 0.1);
  transition: background-color 0.1s ease-in;
  /* Mobile XS */
}
.footer__social-item:last-child {
  margin-right: 0;
}
.footer__social-item:hover {
  background-color: #00c470;
}
@media (max-width: 599px) {
  .footer__social-item {
    margin-right: 20px;
  }
}

.footer__copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  /* Mobile XS */
}
.footer__copyright p + p {
  margin-top: 15px;
}
.footer__copyright span {
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 599px) {
  .footer__copyright {
    line-height: 1.5;
  }
}

.section-functional {
  padding: 80px 0;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-functional {
    padding: 50px 0;
  }
}
@media (max-width: 899px) {
  .section-functional {
    padding-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-functional {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-functional__header {
  margin-bottom: 70px;
  text-align: center;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .section-functional__header {
    margin-bottom: 60px;
  }
}
@media (max-width: 899px) {
  .section-functional__header {
    margin-bottom: 40px;
  }
}

.section-functional__title {
  margin-bottom: 40px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-functional__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 899px) {
  .section-functional__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-functional__title {
    margin-bottom: 10px;
  }
}

.section-functional__row {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
}

.section-functional__row > * {
  margin: 0 15px;
  width: 270px;
  flex-shrink: 0;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-functional__row > * {
    width: 195px;
  }
}
@media (max-width: 899px) {
  .section-functional__row > * {
    width: 270px;
    margin-bottom: 30px;
  }
}
@media (max-width: 599px) {
  .section-functional__row > * {
    width: 290px;
    margin-bottom: 40px;
  }
  .section-functional__row > *:last-child {
    margin-bottom: 0;
  }
}

.section-cta {
  position: relative;
  padding-top: 83px;
  padding-bottom: 84px;
  background-image: url("./../img/bg/cta-bg.jpg");
  background-size: cover;
  background-position: center;
  /* Descktop MD */
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1600px) {
  .section-cta {
    background-image: url("./../img/bg/cta-bg-1600.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 1199px) {
  .section-cta {
    padding: 40px 0;
    background-image: url("./../img/bg/cta-bg-900.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 899px) {
  .section-cta {
    background-image: url("./../img/bg/cta-bg-600.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 599px) {
  .section-cta {
    background-image: url("./../img/bg/cta-bg-320.jpg");
    background-size: cover;
    background-position: center;
  }
}

.section-cta__content {
  position: relative;
  z-index: 9;
  text-align: center;
  color: #ffffff;
}

.section-cta__title {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1;
  /* Mobile */
  /* Mobile XS */
}
.section-cta__title span {
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 899px) {
  .section-cta__title {
    margin-bottom: 30px;
    font-size: 20px;
  }
}
@media (max-width: 599px) {
  .section-cta__title {
    margin-bottom: 20px;
    font-size: 18px;
  }
}

.section-tasks {
  padding-top: 80px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e1e1e1;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-tasks {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
@media (max-width: 899px) {
  .section-tasks {
    padding-top: 52px;
    padding-bottom: 10px;
  }
}
@media (max-width: 599px) {
  .section-tasks {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-tasks__row > * {
  flex-shrink: 0;
}

.section-tasks__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 114px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-tasks__row {
    padding-left: 75px;
    padding-right: 0;
  }
}
@media (max-width: 899px) {
  .section-tasks__row {
    align-items: flex-start;
    flex-direction: row-reverse;
    padding-left: 0;
  }
}
@media (max-width: 599px) {
  .section-tasks__row {
    align-items: center;
    flex-direction: column-reverse;
  }
}

.section-tasks__img {
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-tasks__img {
    width: 265px;
  }
}
@media (max-width: 899px) {
  .section-tasks__img {
    width: 270px;
  }
}
@media (max-width: 599px) {
  .section-tasks__img {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }
  .section-tasks__img img {
    margin: 0 auto;
    width: 270px;
  }
}

.section-tasks__content {
  width: 570px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-tasks__content {
    width: 495px;
  }
}
@media (max-width: 899px) {
  .section-tasks__content {
    padding-top: 5px;
    width: 270px;
  }
}
@media (max-width: 599px) {
  .section-tasks__content {
    width: 290px;
    padding-top: 0px;
    text-align: center;
  }
}

.section-tasks__header {
  margin-bottom: 30px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .section-tasks__header {
    margin-bottom: 20px;
  }
}

.section-tasks__title {
  margin-bottom: 27px;
  /* Tablet */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-tasks__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-tasks__title {
    margin-bottom: 10px;
  }
}

.section-tasks__text {
  width: 400px;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.143;
  color: #808080;
  /* Tablet */
  /* Mobile */
}
.section-tasks__text p + p {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .section-tasks__text {
    width: 420px;
  }
}
@media (max-width: 899px) {
  .section-tasks__text {
    width: unset;
    max-width: 420px;
    line-height: 1.71;
  }
}

.section-focus {
  overflow-x: hidden;
  padding-top: 80px;
  padding-bottom: 40px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-focus {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
@media (max-width: 899px) {
  .section-focus {
    padding-bottom: 0;
  }
}
@media (max-width: 599px) {
  .section-focus {
    padding: 40px 0;
  }
}

.section-focus__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 899px) {
  .section-focus__row {
    flex-direction: row-reverse;
  }
}
@media (max-width: 599px) {
  .section-focus__row {
    flex-direction: column;
  }
}

.section-focus__row > * {
  flex-shrink: 0;
}

.section-focus__img {
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-focus__img {
    width: 420px;
  }
}
@media (max-width: 899px) {
  .section-focus__img {
    width: 170px;
  }
  .section-focus__img img {
    width: 415px;
    max-width: unset;
  }
}
@media (max-width: 599px) {
  .section-focus__img {
    width: 100%;
    margin-bottom: 10px;
  }
  .section-focus__img img {
    max-width: 100%;
  }
}

.section-focus__content {
  padding-top: 28px;
  width: 470px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-focus__content {
    padding-top: 20px;
    width: 420px;
  }
}
@media (max-width: 899px) {
  .section-focus__content {
    padding-top: 0;
    width: 370px;
  }
}
@media (max-width: 599px) {
  .section-focus__content {
    width: 100%;
    text-align: center;
  }
}

.section-focus__header {
  margin-bottom: 30px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .section-focus__header {
    margin-bottom: 20px;
  }
}

.section-focus__title {
  margin-bottom: 30px;
  /* Tablet */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-focus__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-focus__title {
    margin-bottom: 10px;
  }
}

.section-focus__text {
  width: 400px;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  color: #808080;
  /* Tablet */
  /* Mobile */
}
.section-focus__text p + p {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .section-focus__text {
    width: unset;
    max-width: 420px;
  }
}
@media (max-width: 899px) {
  .section-focus__text {
    line-height: 1.71;
  }
}

.section-price {
  position: relative;
  padding-top: 90px;
  padding-bottom: 100px;
  background-image: url("./../img/bg/price-bg.jpg");
  background-size: cover;
  background-position: center;
  /* Descktop MD */
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1600px) {
  .section-price {
    background-image: url("./../img/bg/price-bg-1600.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 1199px) {
  .section-price {
    background-image: url("./../img/bg/price-bg-900.jpg");
    background-size: cover;
    background-position: center;
    padding: 50px 0;
  }
}
@media (max-width: 899px) {
  .section-price {
    background-image: url("./../img/bg/price-bg-600.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 40px;
  }
}
@media (max-width: 599px) {
  .section-price {
    background-image: url("./../img/bg/price-bg-320.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 40px;
  }
}

.section-price__content {
  position: relative;
  z-index: 9;
}
.section-price__content .title,
.section-price__content .subtitle {
  color: #fff;
}

.section-price__header {
  margin-bottom: 80px;
  text-align: center;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .section-price__header {
    margin-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-price__header {
    margin-bottom: 40px;
  }
}

.section-price__title {
  margin-bottom: 40px;
  /* Tablet */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-price__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-price__title {
    margin-bottom: 10px;
  }
}

.section-price__row {
  display: flex;
  justify-content: center;
  margin: 0 -15px;
  /* Mobile */
}
@media (max-width: 899px) {
  .section-price__row {
    flex-direction: column;
    align-items: center;
  }
}

.section-price__row > * {
  margin: 0 15px;
  width: 300px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-price__row > * {
    width: 270px;
  }
}
@media (max-width: 899px) {
  .section-price__row > * {
    width: 300px;
  }
  .section-price__row > *:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (max-width: 599px) {
  .section-price__row > * {
    width: 290px;
  }
  .section-price__row > *:not(:last-child) {
    margin-bottom: 26px;
  }
}

.section-clients {
  padding: 80px 0 77px;
  /* Tablet */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-clients {
    padding: 50px 0 47px;
  }
}
@media (max-width: 599px) {
  .section-clients {
    padding: 40px 0 37px;
  }
}

.section-clients__header {
  margin-bottom: 60px;
  text-align: center;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-clients__header {
    margin-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-clients__header {
    margin-bottom: 40px;
  }
}
@media (max-width: 599px) {
  .section-clients__header {
    margin-bottom: 30px;
  }
}

.section-clients__title {
  margin-bottom: 40px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-clients__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 899px) {
  .section-clients__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-clients__title {
    margin-bottom: 10px;
  }
}

.section-clients__slider {
  margin: 0 auto;
  width: 770px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-clients__slider {
    width: 720px;
  }
}
@media (max-width: 899px) {
  .section-clients__slider {
    width: 370px;
  }
}
@media (max-width: 599px) {
  .section-clients__slider {
    width: 290px;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  text-align: center;
  color: #ffffff;
  transition: opacity 0.2s ease-in, top 0s linear 0.2s;
}

.nav.nav--active {
  z-index: 99;
  top: 0;
  opacity: 1;
  transition: top 0s linear, opacity 0.2s ease-in;
}

.nav__top {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #15d784;
  /* Mobile XS */
}
@media (max-width: 599px) {
  .nav__top {
    margin-bottom: 30px;
    font-size: 16px;
  }
}

.nav__list {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  /* Mobile XS */
}
.nav__list li:not(:last-child) {
  margin-bottom: 40px;
}
.nav__list a {
  text-decoration: none;
  color: #fff;
  transition: color 0.2s ease-in;
}
.nav__list a:hover {
  color: #15d784;
}
@media (max-width: 599px) {
  .nav__list {
    font-size: 18px;
  }
  .nav__list li:not(:last-child) {
    margin-bottom: 30px;
  }
}

.nav-icon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  transition: background-color 0.2s ease-in;
  cursor: pointer;
}
.nav-icon:hover {
  background-color: #00c470;
}
.nav-icon:hover .nav-icon__middle,
.nav-icon:hover .nav-icon__middle::before,
.nav-icon:hover .nav-icon__middle::after {
  background-color: #fff;
}
.nav-icon:focus {
  outline: none;
}

.nav-icon__middle {
  position: relative;
  width: 20px;
  height: 3px;
  background-color: #000;
  border-radius: 2px;
  transition: background-color 0.2s ease-in;
}
.nav-icon__middle::before, .nav-icon__middle::after {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 3px;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  background-color: #000;
  border-radius: 2px;
  transition: background-color 0.2s ease-in;
}
.nav-icon__middle::before {
  top: -7px;
}
.nav-icon__middle::after {
  top: 7px;
}

/* Active state */
.nav-icon.nav-icon--active {
  position: fixed;
  z-index: 999;
}

.nav-icon.nav-icon--active .nav-icon__middle {
  background-color: transparent;
}
.nav-icon.nav-icon--active .nav-icon__middle::before, .nav-icon.nav-icon--active .nav-icon__middle::after {
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
.nav-icon.nav-icon--active .nav-icon__middle::before {
  transform: rotate(45deg);
}
.nav-icon.nav-icon--active .nav-icon__middle::after {
  transform: rotate(-45deg);
}

.search {
  position: relative;
  z-index: 9;
}

.search__input {
  padding-left: 30px;
  padding-right: 30px;
  width: 0px;
  height: 60px;
  border: none;
  background-color: #fff;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 60px;
  color: #000000;
  transition: padding-left 0.2s ease-in, padding-right 0.2s ease-in, width 0.2s ease-in;
}
.search__input::placeholder {
  color: rgba(46, 46, 46, 0.5);
}

.search__button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
.search__button:hover {
  background-color: #00c470;
}
.search__button:hover .search__button-icon {
  stroke: #fff;
}

.search__button-icon {
  stroke: black;
  transition: stroke 0.2s ease-in;
}

.search.search--visible .search__input {
  padding-left: 30px;
  padding-right: 70px;
  width: 340px;
  /* Mobile XS */
}
@media (max-width: 599px) {
  .search.search--visible .search__input {
    padding-left: 20px;
    width: 220px;
    font-size: 14px;
  }
}
.search.search--visible .search__button {
  background-color: #00c470;
}
.search.search--visible .search__button .search__button-icon {
  stroke: #fff;
}
.search.search--visible .search__button:hover {
  background-color: #15d784;
}

.button {
  display: inline-block;
  padding: 0 40px 0 41px;
  height: 60px;
  background-color: #00c470;
  border-radius: 30px;
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ffffff;
  transition: background-color 0.1s ease-in;
}
.button:hover {
  background-color: #00ad62;
}
.button:focus {
  background-color: #00a05a;
}

.button-round {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.1s ease-in;
}

.button-round:hover {
  background-color: #00c470;
}

.input {
  display: block;
  height: 60px;
  padding: 0 30px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 60px;
  color: #ffffff;
  transition: color 0.1s ease-in;
}
.input:focus {
  background-color: black;
}

.input::placeholder {
  color: #ffffff;
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #15d784;
  /* Mobile */
}
@media (max-width: 899px) {
  .title {
    font-size: 14px;
  }
}

.subtitle {
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .subtitle {
    font-size: 38px;
  }
}
@media (max-width: 899px) {
  .subtitle {
    font-size: 30px;
  }
}
@media (max-width: 599px) {
  .subtitle {
    font-size: 26px;
  }
}

.card {
  display: block;
  text-align: center;
}

.card__img {
  margin: 0 auto;
  margin-bottom: 40px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .card__img {
    margin-bottom: 20px;
  }
}

.card__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .card__title {
    min-height: 48px;
    margin-bottom: 10px;
    line-height: 1.5;
  }
}
@media (max-width: 899px) {
  .card__title {
    min-height: unset;
  }
}

.card__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  color: #808080;
  /* Tablet */
}
@media (max-width: 1199px) {
  .card__text {
    line-height: 1.57;
  }
}

.package {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  text-align: center;
  color: #fff;
}

.package--special {
  background-color: rgba(48, 79, 254, 0.95);
}
.package--special .package__title {
  color: #fff;
}
.package--special .package__period {
  background-color: rgba(0, 0, 0, 0.1);
}

.package__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.package__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #b2b2b2;
}

.package__price {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ffffff;
}

.package__period {
  display: inline-block;
  padding: 0 15px;
  height: 24px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ffffff;
}

.package__list {
  margin-bottom: 58px;
  padding: 40px 15px 0;
}

.package__list-item {
  margin-bottom: 25px;
  line-height: 1;
}
.package__list-item:last-child {
  margin-bottom: 0;
}

.package__button {
  margin-top: auto;
}

.button-outline {
  padding: 0 40px;
  height: 60px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ffffff;
  transition: background-color 0.1s ease-in;
}
.button-outline:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0);
}
.button-outline:focus {
  background-color: black;
}

.button-solid {
  padding: 0 40px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 30px;
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #2e2e2e;
  transition: background-color 0.1s ease-in;
}
.button-solid:hover {
  background-color: #000000;
  color: #ffffff;
}
.button-solid:focus {
  background-color: #2f2f2f;
  color: #ffffff;
}

.slider {
  position: relative;
  /* Mobile */
}

.section-clients__slider {
  position: relative;
}

.slider__arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #f5f5f5;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  /* Mobile XS */
}
.slider__arrow .slider__arrow-svg {
  stroke: #00c470;
  transition: stroke 0.2s ease-in;
}
.slider__arrow:hover {
  background-color: #00c470;
}
.slider__arrow:hover .slider__arrow-svg {
  stroke: #fff;
}
.slider__arrow--left {
  top: 53px;
  left: -46px;
  transform: translateX(-100%);
}
@media (max-width: 949px) {
  .slider__arrow--left {
    left: -30px;
  }
}
.slider__arrow--right {
  top: 53px;
  right: -46px;
  transform: translateX(100%);
}
@media (max-width: 949px) {
  .slider__arrow--right {
    right: -30px;
  }
}
@media (max-width: 599px) {
  .slider__arrow {
    display: none;
  }
}

.slider__pagination {
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.slider__pagination-item {
  margin-right: 10px;
  border: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #e1e1e1;
}
.slider__pagination-item:last-child {
  margin-right: 0;
}

.slider__pagination-item--active {
  background: #00c470;
}

.slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-item__text {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  text-align: center;
  color: #000000;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
.slider-item__text p {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .slider-item__text {
    line-height: 1.5;
  }
}
@media (max-width: 899px) {
  .slider-item__text {
    font-size: 16px;
    margin-bottom: 5px;
  }
}
@media (max-width: 599px) {
  .slider-item__text {
    font-size: 14px;
  }
}

.slider-item__author {
  display: flex;
  align-items: center;
}

.slider-item__avatar {
  margin-right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  /* Mobile XS */
}
@media (max-width: 599px) {
  .slider-item__avatar {
    margin-right: 10px;
    width: 60px;
    height: 60px;
  }
}

.slider-item__author-desc {
  font-size: 16px;
  font-weight: 500;
  /* Mobile XS */
}
@media (max-width: 599px) {
  .slider-item__author-desc {
    font-size: 14px;
  }
}

.slider-item__author-title {
  display: block;
  margin-bottom: 5px;
  color: #00c470;
}

.slider-item__author-name {
  display: block;
  color: #808080;
}

/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*="owl-"] {
  color: white;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #e1e1e1;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: #00c470;
  color: white;
  text-decoration: none;
}
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 37px;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 899px) {
  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 28px;
  }
}
@media (max-width: 599px) {
  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 29px;
  }
}
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  width: 14px;
  height: 14px;
  margin: 0px 5px;
  background: #e1e1e1;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 50%;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #00c470;
}

/* Mobile XS */

/*# sourceMappingURL=main.css.map */
